PORT=3003
SERVICE_NAME=payment-service

# PostgreSQL
DB_HOST=postgres-payment
DB_PORT=5432
DB_NAME=paymentdb
DB_USER=payment_user
DB_PASSWORD=payment_pass

# Kafka
KAFKA_BROKERS=kafka:9092
KAFKA_GROUP_ID=payment-ticketing-service
KAFKA_TOPIC_RESERVE=ReserveTicketCommand
KAFKA_TOPIC_TICKET=TicketGeneratedEvent
KAFKA_TOPIC_PAYMENT=PaymentProcessedEvent

# External services
AUTH_SERVICE_URL=http://auth-service:8000

# Payment mock
PAYMENT_FAIL_RATE=0.0
