PORT=3000
INSTANCE_ID=booking-service-1

# PostgreSQL
DB_HOST=postgres-booking
DB_PORT=5432
DB_NAME=bookingdb
DB_USER=booking_user
DB_PASSWORD=booking_pass

# Redis (shared with auth-service)
REDIS_HOST=redis
REDIS_PORT=6379

# Kafka
KAFKA_BROKERS=kafka:9092

# External services
AUTH_SERVICE_URL=http://auth-service:3000
CATALOG_SERVICE_URL=http://catalog-service:3000
